body, html {
    height: 100%;
    margin: 0;
  }
  
  .background {
    background: linear-gradient(to bottom, #333333, #706d6d);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    text-align: center;
    color: rgb(54, 53, 53); /* Red */
  }
  
  h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  p {
    font-size: 1.2em;
    margin-top: 10px;
  }
  body, html {
    height: 100%;
    margin: 0;
  }
  
  .background {
    background: linear-gradient(to bottom, #101010, #555252);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    text-align: center;
    color: rgb(107, 104, 104); /* Red */
  }
  
  h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  p {
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #aaa4a4; /* Button background color */
    color: #ddd8d8; /* Button text color */
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .start-button:hover {
    background-color: #CCCCCC; /* Button background color on hover */
    color: #000000; /* Button text color on hover */
  }
